extends layout

block content
  if (!user)
    a(href="/login") Login
    br
    a(href="/register") Register
  if (user)
    p You are currently logged in as #{user.username} as the role #{user.type ? "Utilisateur" : "Agent Immobilier"}
    a(href="/logout") Logout
