body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.cardContainer {
  display: flex;
  gap: 20px;
}

.imageCard {
  width: 100%;
  height: 100%;
  background-color: aqua;
}

.showImage {
  width: 100%;
  height: 100%;
}