extends ../index

block content
    h2 Êtes-vous sur de supprimer l'annonce #{announce.title} ?
    form(role='form', method='post', action=`/announces/${announce.title}/delete`)
        input.btn.btn-danger(type='submit', value='Supprimer')
        a(class='btn btn-primary', href='/announces') Annuler