extends ../index

block content
    h2 Are you sure to delete the announce #{announce.title} ?
    form(role='form', method='post', action=`/announces/delete/${announce.title}`)
        input.btn.btn-danger(type='submit', value='Delete')
        a(class='btn btn-primary', href='/announces') Cancel